h1{
    color: blue;
}

.linha{
    margin: 2px;
}
.lista-items {
    
}

.item {
    vertical-align: middle;
    margin: 5px;
    font-size: 2em;
    display: inline-block;
    list-style: none;
    width: 38px;
    border: 1px solid black;
    text-align: center;
}

.box-input {
    vertical-align: middle;
}

#main-input {
    vertical-align: middle;
}

.box-input button {
    margin-left: 5px;   
}

.meio {
    text-align: center;
}

.img1{
    background-image: url(../img/img1.png)
}

.img2{
    background-image: url(../img/img2.png)
}

.img3{
    background-image: url(../img/img3.png)
}

.img4{
    background-image: url(../img/img4.png)
}

.img5{
    background-image: url(../img/img5.png)
}

.img6{
    background-image: url(../img/img6.png)
}
